.gitconfig
.ssh/
.vscode-server/
.config_*
**/*.o
**/*.so
.venv/
certs_received/*.cert
trusted_owner/trustowner
trusted_owner/testclient
vm_report_verifier/verifier

sev_orchestrator/data/tmp/godh.base64
sev_orchestrator/data/tmp/godh.cert
sev_orchestrator/data/tmp/launch_blob.base64
sev_orchestrator/data/tmp/launch_blob.bin
sev_orchestrator/data/tmp/secret_blob.dat
sev_orchestrator/data/tmp/secret_header.dat
evaluation/tensorflow-image/alpine-tf-base.tar.gz
evaluation/tensorflow-image/*.py_initramfs
evaluation/tensorflow-image/tf-image.tar
sev_orchestrator/deps/qemu/
sev_orchestrator/qemupid
sev_vm_initrd_build/initramfs-tf-base
sev_vm_initrd_build/initramfs-alpine-tf-base
sev_vm_kernel_build/linux-virt-5.19-r0.apk
trusted_owner/App/proto/gen/__pycache__/

